<header>
  <h1>New Invoice</h1>
</header>

<form [formGroup]="billingForm">
  <fieldset>
    <legend>bill from</legend>
    <div formGroupName="senderAddress" class="form-group sender-address">
      <div class="form-subgroup street">
        <label for="sender-street">street address</label>
        <input id="sender-street" formControlName="street" />
      </div>
      <div class="form-subgroup city">
        <label for="sender-city">city</label>
        <input id="sender-city" formControlName="city" />
      </div>
      <div class="form-subgroup post-code">
        <label for="sender-post-code">post code</label>
        <input id="sender-post-code" formControlName="postCode" />
      </div>
      <div class="form-subgroup country">
        <label for="sender-country">country</label>
        <input id="sender-country" formControlName="country" />
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>bill to</legend>
    <div class="form-group client-initials">
      <div class="form-subgroup client-name">
        <label for="client-name">client's name</label>
        <input id="client-name" formControlName="clientName" />
      </div>
      <div class="form-subgroup client-email">
        <label for="client-email">client's email</label>
        <input id="client-email" formControlName="clientEmail" />
      </div>
    </div>
    <div formGroupName="clientAddress" class="form-group client-address">
      <div class="form-subgroup street">
        <label for="client-street">street address</label>
        <input id="client-street" formControlName="street" />
      </div>
      <div class="form-subgroup city">
        <label for="client-city">city</label>
        <input id="client-city" formControlName="city" />
      </div>
      <div class="form-subgroup post-code">
        <label for="client-post-code">post code</label>
        <input id="client-post-code" formControlName="postCode" />
      </div>
      <div class="form-subgroup country">
        <label for="client-country">country</label>
        <input id="client-country" formControlName="country" />
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="form-group conditions">
      <div class="form-subgroup invoice-date">
        <label for="invoice-date">invoice date</label>
        <input type="date" id="invoice-date" formControlName="invoiceDate" />
      </div>
      <div class="form-subgroup payment-terms">
        <label for="payment-terms">payment terms</label>
        <select
          id="payment-terms"
          name="payment-terms"
          formControlName="paymentTerms"
        >
          <option value="1">Next 1 day</option>
          <option value="7">Next 7 days</option>
          <option value="14">Next 14 days</option>
          <option value="30">Next 30 days</option>
        </select>
      </div>
      <div class="form-subgroup project-description">
        <label for="project-description">project description</label>
        <input id="project-description" formControlName="projectDescription" />
      </div>
    </div>
  </fieldset>
</form>
