@use 'breakpoints' as bp;

h1 {
  margin-bottom: 1.5rem;

  @include bp.md {
    margin-bottom: 3rem;
  }
}

form {
  display: grid;
  grid-gap: 2.5rem;
  overflow: scroll;

  @include bp.md {
    grid-gap: 3rem;
  }
}

legend {
  margin-bottom: 1.5rem;
  font-weight: bold;
  color: var(--primary);
  text-transform: capitalize;

  &.legend-title {
    font-size: 1.125rem;
    line-height: 2rem;
    color: var(--items-list);
    letter-spacing: -0.375px;

    @include bp.md {
      margin-bottom: 1rem;
    }
  }
}

label {
  color: var(--label-foreground);
  text-transform: capitalize;
}

input,
select {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem 1.25rem;
  font-weight: bold;
  color: var(--base);
  background-color: var(--background-secondary);
  border: 1px solid var(--input-inner-border);
  border-radius: 0.25rem;
  caret-color: var(--primary);
  outline: none;

  &:focus {
    border-color: var(--primary);
  }
}

.fields-container {
  display: grid;
  grid-gap: 1.5rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;

  .item-total {
    padding: 1rem 0;
  }
}

.client-initials {
  margin-bottom: 1.5rem;
}

.sender {
  display: grid;
  grid-template-columns: 1fr 1fr;

  &-street,
  &-country {
    grid-column: span 2;
  }

  @include bp.md {
    grid-template-columns: repeat(3, 1fr);

    &-street {
      grid-column: span 3;
    }

    &-country {
      grid-column: span 1;
    }
  }
}

.client {
  &-street,
  &-country {
    grid-column: span 2;
  }

  @include bp.md {
    grid-template-columns: repeat(3, 1fr);

    &-street {
      grid-column: span 3;
    }

    &-country {
      grid-column: span 1;
    }
  }
}

.conditions {
  display: grid;

  @include bp.md {
    .project-description {
      grid-column: span 2;
    }
  }
}

.list {
  display: grid;
  grid-gap: 3rem;

  @include bp.md {
    grid-gap: 1.125rem;
  }
}

.list-item {
  display: grid;
  grid-gap: 1.5rem 1rem;

  .form-field:first-child {
    grid-column: span 4;

    @include bp.md {
      grid-column: span 1;
    }
  }

  button {
    max-height: 2rem;
    padding: 0.5rem 0.625rem;
    margin-bottom: 0.5rem;
  }

  div:nth-child(2) {
    max-width: 4rem;
  }

  @include bp.md {
    grid-template-columns: 13rem auto 6.25rem auto auto;
    grid-gap: 1rem;
  }
}

.delete-button {
  display: flex;
  align-items: flex-end;
}

.add-button {
  display: block;
  margin-top: 1.5rem;

  ::ng-deep button {
    width: 100%;
    text-transform: capitalize;
  }
}
