<header>
  <div class="app-container container">
    <div>
      <h1>Invoices</h1>
      <p class="full-info">
        {{ (invoices$ | async)?.length | summary: (filter$ | async) }}
      </p>
      <p class="shortened-info">
        {{ (invoices$ | async)?.length || 'No' }} invoices
      </p>
    </div>
    <div class="header-controls">
      <app-dropdown></app-dropdown>
      <a routerLink="/invoice/create">
        <app-button [hasIcon]="true">New <span>Invoice</span></app-button>
      </a>
      <app-button [hasIcon]="true" (click)="openSidebar()"
        >New <span>Invoice</span></app-button
      >
    </div>
  </div>
</header>
