<div
  class="container"
  [class]="classes"
  [class.disabled]="disabled"
  clickOutside
  (clickOutside)="onClickOutside()"
>
  <label *ngIf="label">{{ label }}</label>
  <div class="selected-date" [class.focused]="visible" (click)="toggle()">
    <div>{{ value | date: DATE_FORMAT.FULL }}</div>
    <svg-icon src="assets/icons/calendar.svg"></svg-icon>
  </div>

  <div class="date-picker" [@scaleDown]="visible ? 'open' : 'close'">
    <app-datepicker-header
      [value]="ISODate"
      [format]="DATE_FORMAT.MEDIUM"
      (cycleNext)="operateMonth('INCREMENT')"
      (cyclePrev)="operateMonth('DECREMENT')"
    ></app-datepicker-header>

    <app-datepicker-grid
      [days]="daysInMonth"
      (daySelection)="selectDay($event); selectDate(); toggle()"
    ></app-datepicker-grid>
  </div>
</div>
