@use 'breakpoints' as bp;

.header {
  padding: 1.5rem;
  background-color: var(--background-tetriary);
  border-radius: 0.5rem;
  box-shadow: 0 0.625rem 0.625rem -0.625rem var(--box-shadow-secondary);
  transition: background-color var(--transition-secondary);

  @include bp.md {
    display: flex;
    justify-content: space-between;
  }

  &__invoice-status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--invoice-detail);

    @include bp.md {
      gap: 1rem;
    }
  }

  &__controls {
    position: fixed;
    inset: auto 0 0 0;
    display: flex;
    justify-content: space-between;
    padding: 1.25rem 1.5rem;
    background-color: var(--background-tetriary);
    box-shadow: 0 -2.5rem 4.25rem 0 var(--box-shadow-primary);
    transition: background-color var(--transition-secondary);

    @include bp.md {
      position: initial;
      gap: 0.5rem;
      padding: 0;
      box-shadow: none;
    }
  }
}
