<div *ngIf="invoice" class="wrapper">
  <div class="status">
    <p>Status</p>
    <app-invoice-state [variant]="invoice.status"></app-invoice-state>
  </div>

  <div class="controls">
    <app-button [variant]="'neutral'" (click)="openEditingForm(invoice)">
      Edit
    </app-button>
    <app-button [variant]="'danger'" (click)="openDialog('delete-dialog')">
      Delete
    </app-button>
    <app-button
      *ngIf="!isPaidInvoice"
      (click)="openDialog('mark-as-paid-dialog')"
    >
      Mark as paid
    </app-button>
  </div>
</div>
