<header class="header">
  <div class="header__invoice-status">
    <span>Status</span>
    <app-invoice-status [variant]="status"></app-invoice-status>
  </div>

  <div class="header__controls">
    <button class="app-button neutral" (click)="edit.emit()">Edit</button>
    <button class="app-button danger" (click)="delete.emit()">Delete</button>
    <button
      *ngIf="!isPaid"
      class="app-button primary"
      (click)="markAsPaid.emit()"
    >
      Mark as paid
    </button>
  </div>
</header>
