@use 'breakpoints' as bp;

legend {
  margin-bottom: 1.5rem;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 2rem;
  color: var(--items-list);
  text-transform: capitalize;
  letter-spacing: -0.375px;

  @include bp.md {
    margin-bottom: 1rem;
  }
}

header {
  display: none;
  color: var(--label-foreground);
  text-transform: capitalize;

  @include bp.md {
    display: grid;
    grid-template-columns: 12.5rem 2.875rem 6.25rem auto;
    gap: 1rem;
  }
}

ul {
  display: grid;
  gap: 3rem;

  @include bp.md {
    gap: 1.125rem;
    margin-top: 1rem;
  }
}

li {
  display: grid;
  gap: 1.5rem 1rem;

  &:last-child {
    margin-bottom: 3rem;

    @include bp.md {
      margin: 0;
    }
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0.5rem 0.625rem;
  }

  div:nth-child(2) {
    max-width: 4rem;
  }

  div:nth-child(4) {
    min-width: 5.25rem;
    overflow: hidden;
    text-overflow: ellipsis;

    @include bp.md {
      min-width: unset;
    }
  }

  @include bp.md {
    grid-template-columns: 12.5rem 2.875rem 6.25rem auto 2rem;
    gap: 1rem;
  }
}

label {
  color: var(--label-foreground);
  text-transform: capitalize;
}

input,
select {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem 1.25rem;
  font-weight: bold;
  color: var(--base);
  background-color: var(--background-secondary);
  border: 1px solid var(--input-inner-border);
  border-radius: 0.25rem;
  caret-color: var(--primary);
  outline: none;

  &::placeholder {
    color: initial;
  }

  &:focus {
    border-color: var(--primary);
  }
}

.form-field {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.625rem;

  input,
  select,
  .item-total {
    grid-column: span 2;
  }

  label {
    @include bp.md {
      display: none;
    }
  }

  &:first-child {
    grid-column: span 4;

    @include bp.md {
      grid-column: span 1;
      margin: 0;
    }
  }

  .item-total {
    padding: 1rem 0;
    font-weight: bold;
    color: var(--foreground-primary);
  }
}

.form-field.invalid {
  & > * {
    color: var(--danger);
  }

  span {
    display: block;
    text-align: right;
  }

  input {
    border-color: var(--danger);
  }
}

.add-button {
  display: block;

  ::ng-deep button {
    width: 100%;
    text-transform: capitalize;
  }

  @include bp.md {
    margin-top: 1.5rem;
  }
}
