@use 'breakpoints' as bp;

:host {
  background-color: var(--invoice-table-body);
  border-radius: 0.5rem;
  transition: background-color var(--transition-secondary);
}

.container {
  padding: 1.5rem;

  @include bp.md {
    padding: 2rem 2rem 2.5rem;
  }
}

.header {
  display: none;
  grid-template-columns: 3.5fr 1fr 1.25fr 1.25fr;
  margin-bottom: 2rem;
  color: var(--label-foreground);
  text-align: right;

  &__name {
    text-align: left;
  }

  &__quantity {
    text-align: center;
  }

  @include bp.md {
    display: grid;
  }
}

.item {
  display: grid;
  grid-template-areas:
    'name total'
    'price total';
  grid-gap: 0.5rem;
  font-weight: bold;

  &__name {
    grid-area: name;

    @include bp.md {
      grid-area: unset;
      text-align: left;
    }
  }

  &__quantity {
    display: none;

    @include bp.md {
      display: block;
      text-align: center;
    }
  }

  &__total {
    grid-area: total;
    align-self: center;
    text-align: right;

    &::first-letter {
      margin-right: 0.15rem;
    }

    @include bp.md {
      grid-area: unset;
    }
  }

  &__price {
    grid-area: price;
    color: var(--invoice-item-title);

    &-value {
      display: inline-block;

      &::first-letter {
        margin: 0 0.15rem;
      }
    }

    @include bp.md {
      grid-area: unset;
      color: var(--base);
      text-align: right;

      span:first-child {
        display: none;
      }

      &::first-letter {
        margin-right: 0.15rem;
      }
    }
  }

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  @include bp.md {
    grid-template-areas: none;
    grid-template-columns: 3.5fr 1fr 1.25fr 1.25fr;
    grid-gap: 0;
  }
}

.grand-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  color: var(--white);
  background-color: var(--invoice-grand-total);
  border-radius: 0 0 0.5rem 0.5rem;
  transition: background-color var(--transition-secondary);

  @include bp.md {
    padding: 1.5rem 2rem;
  }

  &__value {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 2rem;
    letter-spacing: -0.4px;

    &::first-letter {
      margin-right: 0.25rem;
    }
  }
}
