@use 'breakpoints' as bp;

dialog {
  width: 87.5vw;
  max-width: 30rem;
  margin: auto;
  background-color: var(--background-tetriary);
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 0 100vw hsl(0deg 0% 0% / 50%);

  &::backdrop {
    background-color: hsl(0deg 0% 0% / 50%);
    opacity: 0;
  }

  &[open] {
    animation: slide-up 500ms forwards, fade-in 500ms forwards;
  }

  &[closing] {
    display: block;
    pointer-events: none;
    animation: fade-out 500ms forwards;
  }
}

.dialog-body {
  padding: 2rem;

  @include bp.md {
    padding: 3rem;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}
