<ng-container *ngIf="invoice$ | async as invoice">
  <div class="app-container container">
    <app-go-back-button
      [type]="linkType"
      [offset]="'0 0 2rem'"
    ></app-go-back-button>
    <app-header [invoice]="invoice"></app-header>
    <section>
      <app-body
        [slug]="invoice.slug"
        [createdAt]="invoice.createdAt"
        [paymentDue]="invoice.paymentDue"
        [clientName]="invoice.clientName"
        [clientEmail]="invoice.clientEmail"
        [description]="invoice.description"
        [senderAddress]="invoice.senderAddress"
        [clientAddress]="invoice.clientAddress"
      ></app-body>
      <app-table [items]="invoice.items" [total]="invoice.total"></app-table>
    </section>
  </div>

  <!--TODO: move to separate component -->
  <app-modal id="delete-prompt">
    <h2 class="modal-title">confirm deletion</h2>
    <p class="modal-text">
      Are you sure you want to delete invoice #{{ invoice.slug }}? This action
      cannot be undone.
    </p>
    <div class="modal-controls">
      <app-button [variant]="'neutral'" (click)="closeModal('delete-prompt')">
        Cancel
      </app-button>
      <app-button [variant]="'danger'" (click)="deleteInvoice(invoice._id)">
        Delete
      </app-button>
    </div>
  </app-modal>
</ng-container>
