@use 'breakpoints' as bp;

.container {
  margin-bottom: 9.125rem;
}

section {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 1.5rem;
  margin-top: 1rem;
  background-color: var(--background-tetriary);
  border-radius: 0.5rem;
  box-shadow: 0 0.625rem 0.625rem -0.625rem var(--box-shadow-secondary);

  @include bp.md {
    gap: 3rem;
    padding: 2rem;
    margin-top: 1.5rem;
  }
}

.modal-title {
  margin-bottom: 0.5rem;
  line-height: 2rem;
  text-transform: capitalize;

  @include bp.md {
    font-size: 1.5rem;
  }
}

.modal-text {
  margin-bottom: 1.5rem;
  line-height: 1.375rem;
  color: var(--foreground-primary);
}

.modal-controls {
  display: flex;
  gap: 0.5rem;
  justify-content: end;
}
