<header>
  <div class="app-container container">
    <div *ngIf="invoices$ | async as invoices">
      <h1>Invoices</h1>
      <p class="summary">
        {{ invoices.length | summary: (filter$ | async) }}
      </p>
      <p class="brief-summary">{{ invoices.length }} invoices</p>
    </div>

    <div class="controls">
      <app-dropdown></app-dropdown>
      <app-button [hasIcon]="true" (click)="openSidebar()">
        New <span>Invoice</span>
      </app-button>
    </div>
  </div>
</header>
