@use 'breakpoints' as bp;

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  margin-bottom: 0.4rem;
}

p {
  color: var(--foreground-primary);
}

.summary {
  display: none;

  @include bp.md {
    display: block;
  }
}

.brief-summary {
  display: static;

  @include bp.md {
    display: none;
  }
}

.controls {
  display: flex;
  align-items: center;

  app-header-dropdown {
    margin-right: -1.25rem;

    @include bp.md {
      margin-right: 0;
    }
  }

  app-button {
    z-index: var(--z-header-button);
  }
}
