<div class="wrapper" clickedOutside (clickOutside)="clickedOutside()">
  <button (click)="toggleVisibility()">
    Filter <span>by status</span>
    <svg-icon
      [class.rotated]="isVisible"
      src="assets/icons/chevron.svg"
    ></svg-icon>
  </button>

  <ul *ngIf="isVisible">
    <li *ngFor="let status of statuses; index as i">
      <input
        type="radio"
        [id]="status"
        [value]="status"
        [(ngModel)]="value"
        (click)="onClick($event, i)"
        (ngModelChange)="onModelChange($event)"
      />
      <label [for]="status">
        <span class="fake-radio">
          <svg-icon src="assets/icons/check.svg"></svg-icon>
        </span>
        <p class="status">{{ status }}</p>
      </label>
    </li>
  </ul>
</div>
