<fieldset *ngIf="form" [formGroup]="form">
  <legend>bill from</legend>

  <div formGroupName="senderAddress" class="fields-container sender">
    <!-- sender street -->
    <app-custom-input
      class="sender-street"
      formControlName="street"
      [label]="'street address'"
      [invalid]="invalidStreet"
    ></app-custom-input>
    <!-- sender street -->

    <!-- sender city -->
    <app-custom-input
      class="sender-city"
      formControlName="city"
      [label]="'city'"
      [invalid]="invalidCity"
    ></app-custom-input>
    <!-- sender city -->

    <!-- sender post code -->
    <app-custom-input
      class="sender-post-code"
      formControlName="postCode"
      [label]="'post code'"
      [invalid]="invalidPostCode"
    ></app-custom-input>
    <!-- sender post code -->

    <!-- sender country -->
    <app-custom-input
      class="sender-country"
      formControlName="country"
      [label]="'country'"
      [invalid]="invalidCountry"
    ></app-custom-input>
    <!-- sender country -->
  </div>
</fieldset>
