<fieldset *ngIf="form" [formGroup]="form">
  <legend>bill from</legend>

  <div formGroupName="senderAddress" class="fields-container sender">
    <!-- sender street -->
    <app-text-input
      class="sender-street"
      formControlName="street"
      label="street address"
      [invalid]="invalidStreet"
    ></app-text-input>
    <!-- sender street -->

    <!-- sender city -->
    <app-text-input
      class="sender-city"
      formControlName="city"
      label="city"
      [invalid]="invalidCity"
    ></app-text-input>
    <!-- sender city -->

    <!-- sender post code -->
    <app-text-input
      class="sender-post-code"
      formControlName="postCode"
      label="post code"
      [invalid]="invalidPostCode"
    ></app-text-input>
    <!-- sender post code -->

    <!-- sender country -->
    <app-text-input
      class="sender-country"
      formControlName="country"
      label="country"
      [invalid]="invalidCountry"
    ></app-text-input>
    <!-- sender country -->
  </div>
</fieldset>
