@use 'breakpoints' as bp;

main {
  padding-top: 6.5rem;

  @include bp.md {
    padding-top: 8.5rem;
  }

  @include bp.xxl {
    padding-top: 6rem;
  }
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}
