@use 'breakpoints' as bp;

h2 {
  margin-bottom: 0.5rem;
  line-height: 2rem;
  text-transform: capitalize;

  @include bp.md {
    font-size: 1.5rem;
  }
}

p {
  margin-bottom: 1.5rem;
  line-height: 1.375rem;
  color: var(--foreground-primary);
}

.controls {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
}
