@use 'breakpoints' as bp;

h1 {
  font-size: var(--font-lg);
  line-height: 1.375rem;
  letter-spacing: -0.625px;

  @include bp.md {
    font-size: var(--font-xl);
    line-height: 2.25rem;
    letter-spacing: -1px;
  }
}

h2 {
  font-size: var(--font-lg);
  line-height: 1.375rem;
  letter-spacing: -0.625px;
}

h3 {
  font-size: var(--font-md);
  line-height: 1.5rem;
  letter-spacing: -0.8px;
}

h4 {
  font-size: 0.9375rem;
  line-height: 1.25rem;
  letter-spacing: -0.3125px;
}

h5 {
  font-size: var(--font-sm);
  line-height: 0.9375rem;
  letter-spacing: -0.25px;
}
