:root {
  // font size
  --font-xs: 0.6875rem;
  --font-sm: 0.75rem;
  --font-md: 1rem;
  --font-lg: 1.25rem;
  --font-xl: 2rem;

  // z-index
  --z-logo: 1;
  --z-header-button: 1;
  --z-dropdown: 2;
  --z-overlay: 2;
  --z-billing-form: 3;
  --z-sidebar: 4;
  --z-modal: 4;

  // transitions
  --transition-primary: 150ms ease-in-out;
  --transition-secondary: 250ms ease-in;
  --transition-thirdary: 50ms ease-in-out;
}
