<header>
  <app-go-back-button [offset]="'0 0 1.5rem 0'"></app-go-back-button>

  <ng-container *ngIf="payload$ | async as invoice; else new">
    <h1>Edit <span>#</span>{{ invoice.slug }}</h1>
  </ng-container>

  <ng-template #new>
    <h1>New Invoice</h1>
  </ng-template>
</header>

<div
  class="form-container"
  scrolledToBottom
  (scrolledToBottom)="onScroll($event)"
>
  <form *ngIf="form" (ngSubmit)="onSubmit()" [formGroup]="form">
    <form-sender-address></form-sender-address>
    <form-client-info></form-client-info>
    <form-invoice-terms></form-invoice-terms>
    <form-items-list></form-items-list>

    <div *ngIf="!valid" class="validation-errors">
      <div>- All fields must be added</div>
      <div *ngIf="!items.length">- An item should be added</div>
    </div>
  </form>

  <div class="panel" [class.accent]="!scrolledToBottom">
    <ng-container *ngIf="payload$ | async as invoice; else create">
      <app-button [variant]="'light'" [small]="true" (click)="onCancel()">
        Cancel
      </app-button>
      <app-button [small]="true" (click)="onSaveChanges(invoice._id)">
        Save Changes
      </app-button>
    </ng-container>

    <ng-template #create>
      <app-button [variant]="'light'" [small]="true" (click)="onDiscard()">
        Discard
      </app-button>
      <app-button [variant]="'dark'" [small]="true" (click)="onSaveAsDraft()">
        Save as Draft
      </app-button>
      <app-button [small]="true" (click)="onSubmit()"> Save & Send </app-button>
    </ng-template>
  </div>
</div>
