<ng-container *ngIf="isLinkType">
  <a
    tabindex="0"
    (click)="goBackOnePage()"
    (keypress)="goBackOnePage()"
    [ngStyle]="{ margin: offset }"
  >
    <svg-icon
      src="assets/icons/icon-arrow.svg"
      [svgStyle]="{ transform: 'rotate(90deg)' }"
    >
    </svg-icon>
    <p>Go back</p>
  </a>
</ng-container>

<ng-container *ngIf="!isLinkType">
  <button
    tabindex="0"
    (click)="closeFormSidebar()"
    (keypress)="closeFormSidebar()"
    [ngStyle]="{ margin: offset }"
  >
    <svg-icon
      src="assets/icons/icon-arrow.svg"
      [svgStyle]="{ transform: 'rotate(90deg)' }"
    >
    </svg-icon>
    <p>Go back</p>
  </button>
</ng-container>
