@use 'breakpoints' as bp;

.container {
  display: grid;
  grid-template-areas:
    'slug clientName' 'paymentDue status'
    'totalAmount status';
  grid-template-rows: 1.5fr 1fr 1fr;
  padding: 1.5rem;
  cursor: pointer;
  background-color: var(--background-secondary);
  border-radius: 0.5rem;
  box-shadow: 0 0.625rem 0.625rem -0.625rem var(--box-shadow-secondary);

  @include bp.md {
    grid-template-rows: none;
    grid-template-columns: 1.4fr 1.95fr 1.9fr 2fr 2.3fr 0.4fr;
    align-items: center;
    padding: 1rem 1.5rem;
  }

  @include bp.md {
    padding-left: 2rem;
  }
}

.slug {
  grid-area: slug;
  letter-spacing: -0.25px;

  &::first-letter {
    color: var(--hash-symbol);
  }

  @include bp.md {
    grid-area: unset;
    order: 1;
  }
}

.payer {
  grid-area: clientName;
  justify-self: end;
  color: var(--payer);

  @include bp.md {
    grid-area: unset;
    justify-self: center;
    order: 3;
  }
}

.payment-due {
  grid-area: paymentDue;
  margin-bottom: 0.5rem;
  color: var(--payment-due);

  @include bp.md {
    grid-area: unset;
    justify-self: center;
    order: 2;
    margin: 0;
  }
}

.total {
  grid-area: totalAmount;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
  letter-spacing: -0.8px;

  @include bp.md {
    grid-area: unset;
    justify-self: end;
    order: 4;
  }
}

app-invoice-state {
  grid-area: status;
  align-self: center;
  justify-self: end;

  @include bp.md {
    grid-area: unset;
    order: 5;
  }
}

svg-icon {
  display: none;
  transform: rotate(-90deg);

  @include bp.md {
    display: block;
    justify-self: end;
    order: 6;
  }
}
