<fieldset *ngIf="form" [formGroup]="form">
  <legend>items list</legend>

  <header>
    <span *ngFor="let header of headers">{{ header }}</span>
  </header>

  <ul formArrayName="items">
    <li *ngFor="let item of items.controls; index as i" [formGroupName]="i">
      <!-- item name -->
      <app-text-input
        class="item-field"
        formControlName="name"
        [label]="'item name'"
        [invalid]="invalidItemName(item)"
      ></app-text-input>
      <!-- item name -->

      <!-- item quantity -->
      <app-text-input
        class="item-field"
        formControlName="quantity"
        [type]="'number'"
        [label]="'qty.'"
        [placeholder]="'0'"
        [invalid]="invalidItemQuantity(item)"
      ></app-text-input>
      <!-- item quantity -->

      <!-- item price -->
      <app-text-input
        class="item-field"
        formControlName="price"
        [type]="'number'"
        [label]="'price'"
        [placeholder]="'0.00'"
        [invalid]="invalidItemPrice(item)"
      ></app-text-input>
      <!-- item price -->

      <!-- item total -->
      <div class="total-amount">
        <label>total</label>
        <p>{{ calculateItemTotal(i) | currency: '':'' }}</p>
      </div>
      <!-- item total -->

      <div class="delete-item">
        <button type="button" (click)="deleteItem(i)">
          <svg-icon src="assets/icons/delete.svg"></svg-icon>
        </button>
      </div>
    </li>
  </ul>

  <button class="app-button mixed add-button" type="button" (click)="addItem()">
    + add new item
  </button>
</fieldset>
