ul {
  position: absolute;
  top: 5rem;
  width: 100%;
  font-weight: bold;
  background-color: var(--background-secondary);
  border-radius: 0.5rem;
  box-shadow: none;
  transition: box-shadow 0.2s ease-in-out;
  transform-origin: top center;
}

li {
  padding: 1rem 1.25rem;
  cursor: pointer;
  transition: color 0.1s ease-in-out;

  &:not(:last-child) {
    border-bottom: 1px solid var(--select-option-divider);
  }

  &:hover {
    color: var(--primary);
  }
}

svg-icon {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);

  & > svg {
    transition: transform 0.2s ease-in-out;
  }

  &.rotated > svg {
    transform: rotate(180deg);
  }
}

.container {
  position: relative;
}

.selected-option {
  position: relative;
  min-height: 3rem;
  padding: 1rem 1.25rem;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--background-tetriary);
  border: 1px solid var(--input-inner-border);
  border-radius: 0.25rem;
  transition: border-color 0.2s ease-in-out;

  &.focused {
    border-color: var(--primary);

    & + ul {
      box-shadow: 0 0.625rem 1.25rem var(--box-shadow-primary);
    }
  }
}
