@use 'breakpoints' as bp;

$border-radius: 1.25rem;

.panel {
  position: fixed;
  inset: 0 0 auto 0;
  z-index: var(--z-sidebar);
  display: grid;
  grid-template-areas: 'logo spacer theme avatar';
  grid-template-columns: 4.5rem 1fr 5rem 5rem;
  min-height: 4.5rem;
  background-color: var(--sidebar-background);
  transition: background-color var(--transition-secondary);

  @include bp.md {
    grid-template-columns: 5rem 1fr 6rem 6rem;
    min-height: 5rem;
  }

  @include bp.xxl {
    inset: auto;
    display: flex;
    flex-direction: column;
    max-width: 100px;
    min-height: 100vh;
    border-radius: 0 $border-radius $border-radius 0;
  }

  &__theme {
    grid-area: theme;
    padding: 1.25rem 1.5rem;

    & > div {
      cursor: pointer;
    }

    svg-icon {
      display: grid;
      place-items: center;
      min-width: 2rem;
      min-height: 2rem;

      @include bp.xxl {
        min-width: 2.25rem;
        min-height: 2.25rem;
      }
    }

    @include bp.md {
      padding: 1.5rem 2rem;
    }

    @include bp.xxl {
      padding: 2rem;
      margin-top: auto;
    }
  }

  &__user-avatar {
    grid-area: avatar;
    padding: 1.25rem 1.5rem;
    border-left: 1px solid var(--sidebar-border);

    img {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;

      @include bp.xxl {
        width: 2.5rem;
        height: 2.5rem;
      }
    }

    @include bp.md {
      padding: 1.5rem 2rem;
    }

    @include bp.xxl {
      padding: 1.875rem;
      border-top: 1px solid var(--sidebar-border);
      border-left: none;
    }
  }
}
