<div class="wrapper">
  <div class="container">
    <div class="header">
      <p class="header-name">Item name</p>
      <p class="header-quantity">QTY.</p>
      <p class="header-price">Price</p>
      <p class="header-total">Total</p>
    </div>
    <div class="item">
      <h5 class="item-name">Banner design</h5>
      <p class="item-quantity">1</p>
      <p class="item-price"><span>1 x</span> $156.00</p>
      <p class="item-total">$ 156.00</p>
    </div>
    <div class="item">
      <h5 class="item-name">Banner design</h5>
      <p class="item-quantity">1</p>
      <p class="item-price"><span>1 x</span> $156.00</p>
      <p class="item-total">$ 156.00</p>
    </div>
  </div>
  <div class="amount-due">
    <p>Amount Due</p>
    <p class="grand-total">$ 556.00</p>
  </div>
</div>
