@use 'breakpoints' as bp;

.wrapper {
  background-color: var(--invoice-table-body);
  border-radius: 0.5rem;
}

.container {
  padding: 1.5rem;
  @include bp.md {
    padding: 2rem 2rem 2.5rem;
  }
}

.header {
  display: none;
  grid-template-columns: 3.5fr 1fr 1.25fr 1.25fr;
  margin-bottom: 2rem;
  text-align: right;
  background-color: var(--);

  &-name {
    text-align: left;
  }

  &-quantity {
    text-align: center;
  }
  @include bp.md {
    display: grid;
  }
}

.item {
  display: grid;
  grid-template-areas:
    'name total'
    'price total';
  grid-gap: 0.5rem;
  font-weight: bold;

  &-name {
    grid-area: name;
    @include bp.md {
      grid-area: unset;
      text-align: left;
    }
  }

  &-quantity {
    display: none;
    @include bp.md {
      display: block;
      text-align: center;
    }
  }

  &-total {
    grid-area: total;
    align-self: center;
    text-align: right;
    @include bp.md {
      grid-area: unset;
    }
  }

  &-price {
    grid-area: price;
    color: var(--invoice-item-title);
    @include bp.md {
      grid-area: unset;
      color: var(--base);
      text-align: right;
    }
  }

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
  @include bp.md {
    grid-template-areas: none;
    grid-template-columns: 3.5fr 1fr 1.25fr 1.25fr;
    grid-gap: 0;

    &-price span {
      display: none;
    }
  }
}

.amount-due {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  color: var(--white);
  background-color: var(--invoice-grand-total);
  border-radius: 0 0 0.5rem 0.5rem;
  @include bp.md {
    padding: 1.5rem 2rem;
  }

  .grand-total {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 2rem;
    letter-spacing: -0.4px;
  }
}
