.container {
  position: relative;
}

.disabled {
  opacity: 0.5;

  input:focus {
    border-color: var(--input-inner-border);
  }
}

.selected-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 3rem;
  padding: 1rem 1.25rem;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--background-tetriary);
  border: 1px solid var(--input-inner-border);
  border-radius: 0.25rem;
  transition: border-color 0.2s ease-in-out;

  &.focused {
    border-color: var(--primary);
  }
}

svg-icon {
  max-height: 1rem;
}

.date-picker {
  position: absolute;
  top: 6rem;
  left: 0;
  min-width: 15rem;
  padding: 1.5rem 1rem 2rem;
  background-color: var(--background-secondary);
  border-radius: 0.5rem;
  box-shadow: 0 0.625rem 1.25rem var(--box-shadow-primary);
  transform-origin: top center;
}
