form label {
  color: var(--label-foreground);
  text-transform: capitalize;
}

.fields-container {
  display: grid;
  gap: 1.5rem;
}

.form-field {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.625rem;

  div {
    grid-column: span 2;
  }

  input,
  select {
    box-sizing: border-box;
    grid-column: span 2;
    width: 100%;
    padding: 1rem 1.25rem;
    font-weight: bold;
    color: var(--base);
    background-color: var(--background-secondary);
    border: 1px solid var(--input-inner-border);
    border-radius: 0.25rem;
    caret-color: var(--primary);
    outline: none;

    &:focus {
      border-color: var(--primary);
    }
  }
}

.form-field.invalid {
  & > * {
    color: var(--danger);
  }

  span {
    display: block;
    text-align: right;
  }

  input {
    border-color: var(--danger);
  }
}
