<ng-container *ngIf="viewModel$ | async as vm">
  <aside [@slideInOut]="vm.visible ? 'open' : 'close'">
    <app-form-header
      [editMode]="vm.editMode"
      [slug]="vm.invoice.slug"
      (goBack)="onGoBack()"
    ></app-form-header>

    <div
      class="form-container"
      scrolledToBottom
      (scrolledToBottom)="onScroll($event)"
    >
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <form-sender-address></form-sender-address>
        <form-client-info></form-client-info>
        <form-invoice-terms></form-invoice-terms>
        <form-items-list></form-items-list>

        <div *ngIf="!valid" class="validation-errors">
          <div>- All fields must be added</div>
          <div *ngIf="!items.length">- An item should be added</div>
        </div>

        <div class="panel" [class.accent]="!reachedBottom">
          <ng-container *ngIf="vm.editMode; else create">
            <button class="app-button light small" (click)="onCancel()">
              Cancel
            </button>
            <button
              class="app-button primary small"
              (click)="onSaveChanges(vm.invoice._id)"
            >
              Save Changes
            </button>
          </ng-container>

          <ng-template #create>
            <button
              class="app-button light small"
              type="button"
              (click)="onDiscard()"
            >
              Discard
            </button>
            <button
              class="app-button dark small"
              type="button"
              (click)="onSaveAsDraft()"
            >
              Save as Draft
            </button>
            <button class="app-button primary small" type="submit">
              Save & Send
            </button>
          </ng-template>
        </div>
      </form>
    </div>
  </aside>

  <div
    id="overlay"
    [@fadeInOut]="vm.visible ? 'open' : 'close'"
    (click)="onOverlayClick()"
  ></div>
</ng-container>
