<div class="wrapper" clickOutside (clickOutside)="onClickOutside()">
  <button class="trigger-button" (click)="toggle()">
    <p class="trigger-button__text">Filter <span>by status</span></p>
    <svg-icon
      class="trigger-button__icon"
      [class.trigger-button__icon--rotated]="visible"
      src="assets/icons/chevron.svg"
    ></svg-icon>
  </button>

  <ul class="dropdown" [@scaleDown]="visible ? 'open' : 'close'">
    <li class="dropdown__item" *ngFor="let status of statuses; index as i">
      <app-checkbox
        #checkbox
        [name]="'status'"
        [value]="status"
        [label]="status"
        (check)="onCheck($event)"
        (unCheck)="onUnCheck()"
      ></app-checkbox>
    </li>
  </ul>
</div>
