@use 'breakpoints' as bp;

.invoice {
  display: grid;
  grid-template-areas:
    'slug clientName' 'paymentDue status'
    'total status';
  grid-template-rows: 1.5fr 1fr 1fr;
  padding: 1.5rem;
  cursor: pointer;
  background-color: var(--background-secondary);
  border: 1px solid transparent;
  border-radius: 0.5rem;
  box-shadow: 0 0.625rem 0.625rem -0.625rem var(--box-shadow-secondary);
  transition: border-color var(--transition-primary),
    background-color var(--transition-secondary);

  &:hover {
    border-color: var(--primary);
  }

  @include bp.md {
    grid-template-rows: none;
    grid-template-columns: 1.25fr 1.95fr 1.8fr 2fr 2.3fr 0.4fr;
    align-items: center;
    padding: 1rem 1.5rem;
  }

  @include bp.md {
    padding-left: 2rem;
  }

  &__slug {
    grid-area: slug;
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 0.9375rem;
    letter-spacing: -0.25px;

    &::first-letter {
      color: var(--hash-symbol);
    }

    @include bp.md {
      grid-area: unset;
      order: 1;
    }
  }

  &__client-name {
    grid-area: clientName;
    justify-self: end;
    color: var(--payer);

    @include bp.md {
      grid-area: unset;
      justify-self: left;
      order: 3;
      padding-left: 1.25rem;
    }
  }

  &__payment-due {
    grid-area: paymentDue;
    margin-bottom: 0.5rem;
    color: var(--payment-due);

    @include bp.md {
      grid-area: unset;
      justify-self: center;
      order: 2;
      margin: 0;
    }
  }

  &__total {
    grid-area: total;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5rem;
    letter-spacing: -0.8px;

    &::first-letter {
      padding-right: 0.25rem;
    }

    @include bp.md {
      grid-area: unset;
      justify-self: end;
      order: 4;
    }
  }

  &__status {
    grid-area: status;
    align-self: center;
    justify-self: end;

    @include bp.md {
      grid-area: unset;
      order: 5;
    }
  }

  &__icon {
    display: none;
    transform: rotate(-90deg);

    @include bp.md {
      display: block;
      justify-self: end;
      order: 6;
    }
  }
}
