@use 'breakpoints' as bp;

.wrapper {
  padding: 1.5rem;
  background-color: var(--background-tetriary);
  border-radius: 0.5rem;
  box-shadow: 0 0.625rem 0.625rem -0.625rem var(--box-shadow-secondary);

  @include bp.md {
    display: flex;
    justify-content: space-between;
  }
}

.status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--invoice-detail);

  @include bp.md {
    gap: 1rem;
  }
}

.controls {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  padding: 1.25rem 1.5rem;
  background-color: var(--background-tetriary);
  box-shadow: 0 -2.5rem 4.25rem 0 var(--box-shadow-primary);

  @include bp.md {
    position: initial;
    padding: 0;
    box-shadow: none;

    a {
      display: none;
    }
  }
}
