@use 'breakpoints' as bp;

.wrapper {
  padding: 1.5rem;
  background-color: var(--background-tetriary);
  border-radius: 0.5rem;
  box-shadow: 0 10px 10px -10px var(--box-shadow-secondary);

  @include bp.md {
    display: flex;
    justify-content: space-between;
  }
}

.status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--invoice-details);

  @include bp.md {
    gap: 1rem;
  }
}

.controls {
  display: none;

  @include bp.md {
    display: flex;
    gap: 0.5rem;
  }
}
