<div class="billing-info">
  <div class="slug-block">
    <h3><span>#</span>XM9141</h3>
    <p>Graphic design</p>
  </div>
  <div class="address-block">
    <p>19 Union Terrace</p>
    <p>London</p>
    <p>E1 3EZ</p>
    <p>United Kingdom</p>
  </div>
  <div class="terms-block">
    <div>
      <p class="label">Invoice date</p>
      <span class="key-item">21 Aug 2021</span>
    </div>
    <div>
      <p class="label">Payment Due</p>
      <span class="key-item">20 Sep 2021</span>
    </div>
  </div>
  <div class="billing-address-block">
    <p class="label">Bill To</p>
    <p class="key-item recepient">Alex Grim</p>
    <div class="billing-address">
      <p>19 Union Terrace</p>
      <p>London</p>
      <p>E1 3EZ</p>
      <p>United Kingdom</p>
    </div>
  </div>
  <div class="email-block">
    <p class="label">Sent to</p>
    <p class="key-item">alexgrim@gmail.com</p>
  </div>
</div>
