<header>
  <h1>New Invoice</h1>
</header>

<div #formContainer class="form-container" (scroll)="($event)">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <form-sender-address></form-sender-address>

    <fieldset>
      <legend>bill to</legend>

      <div class="fields-container client-initials">
        <!-- client's name -->
        <div
          class="form-field client-name"
          [class.invalid]="clientName?.invalid && clientName?.touched"
        >
          <label for="client-name">client's name</label>
          <span *ngIf="clientName?.invalid"> can't be emtpy </span>
          <input id="client-name" formControlName="clientName" />
        </div>
        <!-- client's name -->

        <!-- client's email -->
        <div
          class="form-field client-email"
          [class.invalid]="clientEmail?.invalid && clientEmail?.touched"
        >
          <label for="client-email">client's email</label>
          <span *ngIf="clientEmail?.hasError('required')">can't be empty</span>
          <span *ngIf="clientEmail?.touched && clientEmail?.errors?.['email']">
            invalid email format
          </span>
          <input id="client-email" formControlName="clientEmail" />
        </div>
        <!-- client's email -->
      </div>
      <div formGroupName="clientAddress" class="fields-container client">
        <!-- client's street -->
        <div
          class="form-field client-street"
          [class.invalid]="clientStreet?.invalid && clientStreet?.touched"
        >
          <label for="client-street">street address</label>
          <span *ngIf="clientStreet?.invalid">can't be empty</span>
          <input id="client-street" formControlName="street" />
        </div>
        <!-- client's street -->

        <!-- client's city -->
        <div
          class="form-field client-city"
          [class.invalid]="clientCity?.invalid && clientCity?.touched"
        >
          <label for="client-city">city</label>
          <input id="client-city" formControlName="city" />
        </div>
        <!-- client's city -->

        <!-- client's postcode -->
        <div
          class="form-field client-post-code"
          [class.invalid]="clientPostCode?.invalid && clientPostCode?.touched"
        >
          <label for="client-post-code">post code</label>
          <input id="client-post-code" formControlName="postCode" />
        </div>
        <!-- client's postcode -->

        <!-- client's country -->
        <div
          class="form-field client-country"
          [class.invalid]="clientCountry?.invalid && clientCountry?.touched"
        >
          <label for="client-country">country</label>
          <input id="client-country" formControlName="country" />
        </div>
        <!-- client's country -->
      </div>
    </fieldset>

    <fieldset>
      <div class="fields-container conditions">
        <!-- invoice date -->
        <div class="form-field invoice-date">
          <label for="invoice-date">invoice date</label>
          <input type="date" id="invoice-date" formControlName="createdAt" />
        </div>
        <!-- invoice date -->

        <!-- payment terms -->
        <div class="form-field payment-terms">
          <label for="payment-terms">payment terms</label>
          <select
            id="payment-terms"
            name="payment-terms"
            formControlName="paymentTerms"
          >
            <option value="1">Next 1 day</option>
            <option value="7">Next 7 days</option>
            <option value="14">Next 14 days</option>
            <option value="30">Next 30 days</option>
          </select>
        </div>
        <!-- payment terms -->

        <!-- description -->
        <div class="form-field description">
          <label for="description">project description</label>
          <input
            id="description"
            placeholder="e.g Graphic Design Service"
            formControlName="description"
          />
        </div>
        <!-- description -->
      </div>
    </fieldset>

    <form-items-list></form-items-list>

    <div *ngIf="!valid" class="validation-errors">
      <div>- All fields must be added</div>
      <div *ngIf="!items.length">- An item should be added</div>
    </div>

    <div class="panel" [class.accent]="!scrolledToBottom">
      <app-button [variant]="'light'" [small]="true" (click)="onDiscard()">
        Discard
      </app-button>
      <div class="panel-right">
        <app-button (click)="saveAsDraft()" [variant]="'dark'" [small]="true">
          Save as Draft
        </app-button>
        <app-button [small]="true" (click)="onSubmit()">
          Save & Send
        </app-button>
      </div>
    </div>
  </form>
</div>
