@use 'breakpoints' as bp;

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 1.5rem;
  margin-top: 3.5rem;
  background-color: var(--background-secondary);

  @include bp.md {
    display: none;
  }
}
