@font-face {
  font-family: Spartan;
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/Bold/Spartan-Bold.woff2') format('woff2'),
    url('/assets/fonts/Bold/Spartan-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: Spartan;
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/Medium/Spartan-Medium.woff2') format('woff2'),
    url('/assets/fonts/Medium/Spartan-Medium.woff') format('woff');
  font-display: swap;
}
